<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>DynamicWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  <servlet>                                  
  <servlet-name>abc</servlet-name>
  <servlet-class>com.kshitij.AddServlet</servlet-class>   <!-- Servlet name should be same for both together they form pair -->
  </servlet>
  
  <servlet-mapping>
  <servlet-name>abc</servlet-name>
  <url-pattern>/add</url-pattern>                         <!--Url pattern binded to AddServlet class -->
  </servlet-mapping>
  
   <servlet>                                  
  <servlet-name>pqr</servlet-name>
  <servlet-class>com.kshitij.SqServlet</servlet-class>   <!-- Servlet name should be same for both together they form pair -->
  </servlet>
  
  <servlet-mapping>
  <servlet-name>pqr</servlet-name>
  <url-pattern>/sq</url-pattern>                         <!--Url pattern binded to SqServlet class -->
  </servlet-mapping>
  
</web-app>